@use 'function' as func;

*,
*::after,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a {
  text-decoration: none;
  transition: outline 0.2s;
  border-radius: 2px;
  padding: 0.5rem 1rem;

  &:focus {
    outline: dashed;
  }
}

button {
  font-family: inherit;
  font-weight: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  max-width: func.toRem(1440px);
  margin: 0 auto;
  position: relative;
}
