@use 'function' as func;

.ft-barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.ft-fraunces {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.ft-w-700 {
  font-weight: 700;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

@media (min-width: func.toRem(768px)) {
  .hide-for-desktop {
    display: none !important;
  }
}

@media (max-width: func.toRem(768px)) {
  .hide-for-mobile {
    display: none !important;
  }
}
