@use 'base';

@use 'helper';

@use 'function' as func;
@use 'mixin' as mix;

:root {
  --Soft-red: #fe7867;
  --Yellow: #fad400;
  --Dark-desaturated-cyan: #25564b;
  --Dark-blue: #19536b;
  --Dark-moderate-cyan: #458c7e;
  --Very-dark-desaturated-blue: #23303e;
  --Very-dark-grayish-blue: #5a636c;
  --Dark-grayish-blue: #818498;
  --Grayish-blue: #a7abae;
  --White: #ffffff;
}

// ======================================================================================//
// ======================================== Header ======================================//
// ======================================================================================//
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: func.toRem(32px) func.toRem(24px);
  position: relative;

  .hamburger {
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    top: func.toRem(106px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - func.toRem(48px));
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: func.toRem(32px);
    padding: func.toRem(32px);

    .cta {
      font-size: func.toRem(20px);
      line-height: func.toRem(25px);
      letter-spacing: func.toRem(-0.14px);
      color: var(--Dark-grayish-blue);

      &-yellow {
        @include mix.contact-button(var(--Very-dark-desaturated-blue), var(--Yellow));
      }
    }
  }

  .desktop-nav {
    .cta {
      color: var(--White);

      &:not(:last-child) {
        margin-right: func.toRem(31px);
      }

      &-white {
        @include mix.contact-button(var(--Very-dark-desaturated-blue), var(--White));
        transition: all 0.2s ease-in-out;

        &:hover {
          color: var(--White);
          background-color: #77cdf5;
        }
      }
    }
  }
}

// ======================================================================================//
// ======================================== Hero ========================================//
// ======================================================================================//
.hero {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: clamp(33.63rem, 28.95vw + 26.84rem, 50rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/mobile/image-header.jpg) no-repeat center/cover;
  z-index: -10;

  @include mix.mediaQuery('sm') {
    background-image: url(../images/desktop/image-header.jpg);
  }

  h1 {
    font-size: clamp(func.toRem(40px), 1.77vw + 2.09rem, func.toRem(56px));
    letter-spacing: clamp(func.toRem(6.25px), 0.28vw + 0.33rem, func.toRem(8.75px));
    color: var(--White);
    text-align: center;
    padding-top: clamp(9rem, 7.33vw + 6.33rem, 12.19rem);
    padding-bottom: clamp(3.25rem, 4.74vw + 1.77rem, 6.03rem);
  }
}

// ======================================================================================//
// ======================================== about =======================================//
// ======================================================================================//
.about {
  margin-top: clamp(28.13rem, 28.95vw + 21.34rem, 44.5rem);
  display: grid;
  place-items: center;
  // grid-template-rows: func.toRem(312px) func.toRem(437px) func.toRem(312px) func.toRem(437px) func.toRem(600px) func.toRem(600px);
  grid-template-rows: func.toRem(312px) 1fr func.toRem(312px) 1fr func.toRem(600px) func.toRem(600px);
  text-align: center;

  @include mix.mediaQuery('md') {
    grid-template-rows: repeat(3, minmax(312px, 600px));
    grid-template-columns: repeat(2, minmax(375px, 1fr));
    text-align: left;
  }

  .transform,
  .stand-out {
    padding: 4rem 1.5rem;
    max-width: calc(func.toRem(445px) + 3rem);

    h2 {
      color: var(--Very-dark-desaturated-blue);
      font-size: clamp(2rem, 2.04vw + 1.52rem, 2.5rem);
      line-height: clamp(2.44rem, 2.63vw + 1.82rem, 3.08rem);
      letter-spacing: func.toRem(-0.23px);
      margin-bottom: 1.5rem;
    }

    p {
      color: var(--Dark-grayish-blue);
      font-size: func.toRem(18px);
      line-height: 30px;
      letter-spacing: -0.128571px;
      margin-bottom: 2rem;
    }
  }

  .learn-more-btn--yelow {
    @include mix.learn-more-style(var(--Very-dark-desaturated-blue), var(--Yellow));
  }
  .learn-more-btn--red {
    @include mix.learn-more-style(var(--Very-dark-desaturated-blue), var(--Soft-red));
  }

  .egg-bg,
  .cup-bg,
  .design-bg,
  .photography-bg {
    width: 100%;
    height: 100%;
    background: no-repeat center/cover;
  }
  .egg-bg {
    background-image: url(../images/mobile/image-transform.jpg);
  }
  .cup-bg {
    background-image: url(../images/desktop/image-stand-out.jpg);
  }
  .design-bg {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
  .photography-bg {
    background-image: url(../images/desktop/image-photography.jpg);
  }
}
